body{
  text-align: center;
  background-color: #fad5ad;

}
section{
  padding: 4rem;
  background-color: white;
  height: 100%;
  width:50%;
  margin:4rem auto;
  box-shadow: 0.3rem 0.3rem grey;
  border-radius: 5%;


}
h3{
  margin-top: 1rem;
}
h2{
  font-family: 'Fondamento', cursive;
}
